# Ignore node_modules and build artifacts
node_modules
dist
build

# Ignore logs and temporary files
logs
*.log

# Ignore coverage reports
coverage

# Ignore editor and configuration files
.vscode
.eslintcache
*.config.js

# Ignore dotenv files
.env

# Ignore package files
package.json
package-lock.json
yarn.lock
